In [2]:
import pandas as pd
data = pd.read_csv('diabetes_young_adults_india.csv')
data

,ID,Age,Gender,Region,Family_Income,Family_History_Diabetes,Parent_Diabetes_Type,Genetic_Risk_Score,BMI,Physical_Activity_Level,...,Smoking,Alcohol_Consumption,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Prediabetes,Diabetes_Type,Sleep_Hours,Stress_Level,Screen_Time
0,1,21,Male,North,2209393,No,NaN,6,31.4,Sedentary,...,Yes,No,95.6,9.5,163.3,Yes,NaN,7.7,7,6.8
1,2,18,Female,Central,387650,No,NaN,5,24.4,Active,...,No,No,164.9,5.0,169.1,Yes,NaN,7.9,8,6.0
2,3,25,Male,North,383333,No,NaN,6,20.0,Moderate,...,No,No,110.5,8.3,296.3,Yes,Type 1,7.6,8,4.6
3,4,22,Male,Northeast,2443733,No,NaN,4,39.8,Moderate,...,No,Yes,160.7,4.6,252.8,No,NaN,9.5,2,10.9
4,5,19,Male,Central,1449463,No,NaN,4,19.2,Moderate,...,No,Yes,73.7,5.3,252.3,No,NaN,6.4,2,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,19,Female,South,2006887,No,NaN,2,39.6,Sedentary,...,No,Yes,72.4,9.8,128.2,No,Type 2,4.1,8,9.5
99996,99997,18,Female,Central,1102572,No,Type 1,3,18.4,Active,...,No,No,168.0,8.9,253.0,No,NaN,6.4,5,4.1
99997,99998,23,Female,Central,1901854,No,Type 2,5,35.5,Sedentary,...,No,No,174.5,9.2,241.8,No,NaN,8.5,10,11.1
99998,99999,24,Male,West,564931,No,NaN,2,34.8,Moderate,...,No,No,80.5,9.8,208.8,No,NaN,5.3,7,2.1
99999,100000,18,Female,North,1972687,Yes,Type 1,4,26.7,Active,...,No,No,122.0,7.9,178.0,Yes,Type 1,7.3,5,11.3

 How can you apply One-Hot Encoding to the "Gender" column?

 Answer:

In [3]:
one_hot_gender = pd.get_dummies(data['Gender'], prefix='Gender')
print(one_hot_gender.head())

   Gender_Female  Gender_Male  Gender_Other
0          False         True         False
1           True        False         False
2          False         True         False
3          False         True         False
4          False         True         False

Question: How can you apply One-Hot Encoding to the "Region" column?

Answer:

In [5]:
one_hot_region = pd.get_dummies(data['Region'], prefix='Region')
print(one_hot_region.head())

   Region_Central  Region_East  Region_North  Region_Northeast  Region_South  \
0           False        False          True             False         False
1            True        False         False             False         False
2           False        False          True             False         False
3           False        False         False              True         False
4            True        False         False             False         False

   Region_West
0        False
1        False
2        False
3        False
4        False

Question: How would you apply Label Encoding to the "Smoking" and "Alcohol_Consumption" columns?

Answer:

In [10]:
label_encoded_alcohol = data['Alcohol_Consumption'].map({'Yes': 1, 'No': 0})

label_encoded_alcohol

0        0
1        0
2        0
3        1
4        1
        ..
99995    1
99996    0
99997    0
99998    0
99999    0
Name: Alcohol_Consumption, Length: 100000, dtype: int64

Question: What would be the possible values of "Family_History_Diabetes" after Label Encoding?

Answer:

In [11]:
label_encoded_family_history = data['Family_History_Diabetes'].map({'Yes': 1, 'No': 0})
print(label_encoded_family_history.head())

0    0
1    0
2    0
3    0
4    0
Name: Family_History_Diabetes, dtype: int64

Question: How would you normalize "Family_Income" and "BMI" columns to a [0, 1] scale?
Answer:

python

In [13]:
normalized_family_income = (data['Family_Income'] - data['Family_Income'].min()) / \
                           (data['Family_Income'].max() - data['Family_Income'].min())
normalized_bmi = (data['BMI'] - data['BMI'].min()) / \
                 (data['BMI'].max() - data['BMI'].min())
print(normalized_family_income.head())
print(normalized_bmi.head())

0    0.878923
1    0.119854
2    0.118055
3    0.976566
4    0.562282
Name: Family_Income, dtype: float64
0    0.641667
1    0.350000
2    0.166667
3    0.991667
4    0.133333
Name: BMI, dtype: float64